extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href="https://runkeeper.com/apps/authorize?client_id=57d88846acd74d86bc34a2e2bdb29189&response_type=code&redirect_uri=http://127.0.0.1:3000/getToken") start



  a 